@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSans3VF-Upright.ttf.woff2');
}

@font-face {
  font-family: 'Source Han Sans';
  src: url('../fonts/SourceHanSans-VF.ttf.woff2');
}

* {
  font-family: 'Source Sans', 'Source Han Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
