@font-face {
  font-family: 'SourceSans';
  src: url('../fonts/SourceSans3VF-Upright.ttf.woff2');
}

// @font-face {
//   font-family: 'SourceHanSans';
//   src: url('../fonts/SourceHanSans-VF.ttf.woff2');
// }

@font-face {
  font-family: 'SourceHanSans Regular';
  src: url('../fonts/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: 'ZhuqueFangsong';
  src: url('../fonts/ZhuqueFangsong-Regular.ttf');
}

* {
  font-family: 'SourceSans', 'SourceHanSans', 'SourceHanSans Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
